 html{
    font-size: 62.5%;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding-top: 3rem; 
    /* padding-bottom: 3rem; */
    /* background:linear-gradient() !important; ;  */
    height: 70vh;
    
        /* background: linear-gradient(to right,#46026b, #893ab4) ; */
        background: linear-gradient(to right,#191919,#750E21) ;
      
      
}



.result{
    font-size: 4rem;
    color: grey;
    font-weight: 600;
    text-align: end;
}
.current_display{
    font-size: 4rem;
    color: grey;
    font-weight: 600;
    text-align: end;
    width: 100%;
    /* overflow-x: hidden; */
    
}

.text{
    /* background-color: blue; */
    /* align-items: center; */
    align-self: center;
    font-size: 3rem;
    font-family: 'Rubik Doodle Shadow', cursive;
    font-weight: 700;
    letter-spacing: 7px;
    color: #fff;
}
.calculator_part{
    background-color:#272829;
    /* background-color: #852bb6; */
    /* min-height: 47rem; */
    border: 7px solid #fff;
    border-radius: 10px;
    width: 3rem;
}
.form{
 /* width: 20rem; */
}


.content_disply{
    padding: 5.5rem;
    /* background-color: #fff; */
    
}

.form_iteam{
    /* padding-bottom: 3rem 0rem; */
    width: 5rem;
    height: 5rem;
    margin: 0.5rem;
    
    /* border: none; */
    /* border-radius: 50%; */
    /* background-color: gold; */
}

.delete_part{
    /* padding-bottom: 3rem 0rem; */
    width: 5rem;
    margin: 0.5rem;
    height: 5rem;
}
.color_1{
 background-color: #282829;
 font-size: 3rem;
 font-weight: 700;
 color: grey;
}
.color_two{
    /* background-color: #852bb6 ; */
    background-color: #750E21;
    color: #fff;
    font-size: 3rem;
 font-weight: 700;
}
.exeption{
    /* background-color: #852bb6; */
    background-color: #750E21;
    color: #fff;
}
.all_container{
   height: 40rem;
   /* max-width: 70rem; */
}

/* .content_disply{
    background-color: red;
} */

.borderrl{
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;

}